<!DOCTYPE html>
<html>
<head>
  <title>Contextly</title>
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">

      <!-- Jumbotron <--></-->
      <div class="jumbotron">
        <h1 class="center">Contextly</h1>
        <h2>Add css shortcuts to web development.</h2>
        <a class="btn btn-large btn-success" href="#">Add to Chrome<img src="quill.png" ></a>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span6">
          <p class="lead"><img src="img/transfer.png">Drag elements and divs</p>
          <p>Shift + D: make the clicked element draggable. Shift + E: make div draggable.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/settings-3.png">Change font-styles</p>
          <p>Shift + F: Add Google Web Fonts to the clicked element. Change font size and color.</p>
        </div>
        
      </div>

      <div class="row-fluid">
        <div class="span6">
          <p class="lead"><img src="img/asterisk.png">Wrap a class in div</p>
          <p>Shift + W: Wrap the clicked element with a specified class.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/delete.png">Revert Changes</p>
          <p>Shift + Z: Revert last change.</p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <p class="lead"><img src="img/add.png">Add an element to div</p>
          <p>Shift + A: Add the clicked element to a specified class.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/compose-2.png">Change tagName</p>
          <p>Shift + T: Change the clicked element's tagName.</p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <p class="lead"><img src="img/crop.png">Modify Class</p>
          <p>Shift + M: Choose a class and modify its background color, height, and width.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/expand-3.png">Make div resizable</p>
          <p>Shift + R: Choose a div to make resizable. Drag the div's height and width to your wishes.</p>
        </div>
      </div>

      <div class="footer">
        <p>Icons from batch. Tony Xie 2013. If you like Contextly hit me up at @T_Xie or contact me at txie145@gmail.com</p>
      </div>

    </div> <!-- /container -->

</body>

</html>
