<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="7d7eZTDkbF5fSL_ZLI_0Z0An2XXMQTi3LMAwGgOOjl4" />
  <title>Contextly</title>
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  <script src="jquery-1.9.1.min.js"></script>
  <script src="landing.js"></script>
</head>

<body>

    <div class="container">

      <img id="quill" src="img/quill.png" >

      <!-- Jumbotron <--></-->
      <div class="jumbotron">
        <h3 class="center">Contextly</h3>
        <h2>Add css shortcuts to web development.</h2>
        <a id="quillButton" class="btn btn-large btn-success" href="#">Add to Chrome</a>
        <p id="addObject" >Shift + A: Add the clicked element to a specified class.</p>
      </div>

      <div class="span6" id="absolute">
          <p class="lead"><img src="img/transfer.png">Drag elements and divs</p>
          <p>Shift + D: make the clicked element draggable. Shift + E: make div draggable.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6" id="opaque">
          <p class="lead"><img src="img/transfer.png">Drag elements and divs</p>
          <p>Shift + D: make the clicked element draggable. Shift + E: make div draggable.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/settings-3.png">Change font-styles</p>
          <p>Shift + F: Add Google Web Fonts to the clicked element. Change font size and color.</p>
        </div>
        
      </div>

      <div class="row">
        <div class="span6">
          <p class="lead"><img src="img/asterisk.png">Wrap a class in div</p>
          <p>Shift + W: Wrap the clicked element with a specified class.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/delete.png">Revert Changes</p>
          <p>Shift + Z: Revert last change.</p>
        </div>
      </div>

      <div class="row">
        <div id="addTarget" class="span6">
          <p class="lead"><img src="img/add.png">Add an element to div</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/compose-2.png">Change tagName</p>
          <p>Shift + T: Change the clicked element's tagName.</p>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <p class="lead"><img src="img/crop.png">Modify Class</p>
          <p>Shift + M: Choose a class and modify its background color, height, and width.</p>
        </div>
        <div class="span6">
          <p class="lead"><img src="img/expand-3.png">Make div resizable</p>
          <p>Shift + R: Choose a div to make resizable. Drag the div's height and width to your wishes.</p>
        </div>
      </div>

      <div class="footer">
        <p>Icons from batch. Tony Xie 2013. If you like Contextly hit me up at @T_Xie or contact me at txie145@gmail.com</p>
      </div>

    </div> <!-- /container -->

</body>

</html>
