#quill {
  position: absolute;
  left: 640px;
  top: 240px;
}

img {
  margin-right: 5px;
}

.jumbotron{
  height: 312px;
  margin-top: 5em;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  text-align: center;
}

table {
  width: 500px;
}

tr {
  width: 500px;
}

.jumbotron h1 {
  font-family: Raleway;
  font-size: 150px;
}

.jumbotron h2 {  
  margin-top: 84px;
}

.jumbotron a {
  margin-top: 44px;
}

.footer {
  margin-top: 2em;
  height: 30px;
  margin-bottom: 1em;
}