#quill {
  position: absolute;
  left: 640px;
  top: 240px;
}

#quillButton {
  padding-right: 3em;
}

#opaque {
  opacity: 0;
}

#absolute {
  position: absolute;
  left: 100px;
  top: 300px;
}

#absolute p {
  font-family: "PT Sans Narrow";
  font-size: 18px;
}

#absolute p.lead {
  font-family: "Oswald";
  font-size: 25px;
  margin-bottom: 7px;
}

.hero-unit {
  background-color: #FF7373;
}

img {
  margin-right: 8px;
}

.row-fluid {
  margin-bottom: 15px;
}

#addObject {
  position: absolute;
  left: 420px;
  top: 340px;
  font-family: "PT Sans Narrow";
  font-size: 18px;
}

.row-fluid p {
  font-family: "PT Sans Narrow";
  font-size: 18px;
}

.row-fluid p.lead {
  font-family: "Oswald";
  font-size: 25px;
  margin-bottom: 7px;
}

.jumbotron{
  height: 100px;
  padding-top: 5em;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  text-align: center;
}

table {
  width: 500px;
}

tr {
  width: 500px;
}

.jumbotron h1 {
  font-family: 'Open Sans';
  font-size: 150px;
  letter-spacing: 3px;
}

.jumbotron h2 {  
  margin-top: 84px;
  font-family: 'Raleway'
}

.jumbotron a {
  margin-top: 44px;
}

.footer {
  margin-top: 2em;
  height: 30px;
  margin-bottom: 1em;
}